* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html, body {
    height: 100%;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

nav {
    background: #E2E5E8;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centers items vertically */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav .logo h1 {
    margin: 0;
color: black;
text-decoration:none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.main-content {
    min-height: calc(100vh - 60px); /* Adjust based on the total height of the nav and footer */
    display: flex;
    flex-direction: column;
}

header {
    background-size: cover;
    background-position: center;
    flex-grow: 1; /* Takes up all available space */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.header-content {
    max-width: 960px;
}

.header-content h2 {
    font-size: 2.5rem;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.header-content {
    max-width: 960px; /* Increase this width if necessary */
    width: 100%;
    margin-left: auto;
    padding-right: 5%; /* Adjust padding if it's causing wrapping */
    padding-left: 5%; /* Ensure there's enough horizontal space */
}

.header-content #typed-text {
    font-size: 2.5rem; /* You might adjust this size down if the text still wraps */
    color: #ffffff;
    font-weight: bold;
    text-align: center; /* Align text centrally if that fits your design better */
    white-space: nowrap; /* Prevents the text from wrapping */
}

.header-content #typed-text-sub1, .header-content #typed-text-sub2 {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center; /* This can be adjusted based on your design preference */
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    font-size: 0.9em;
}

section {
    padding: 20px;
    background-color: #E2E5E8;
    margin: 10px 0;
    border-radius: 8px;
    color: #333;
    text-align:left;
}

section h2 {
    color: #333;
    text-align:center;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    padding: 8px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
